$font: "Sofia Sans Condensed", Inter, system-ui, Avenir, Helvetica, Arial,
  sans-serif;

.title {
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
